/* CSS Document */

body, html {
    height: 100%;
}
.bg { 
    /* The image used */
    background-image: url(Photos/FreshFactoryBackground.jpg);

    /* Half height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-center {
  text-align: center;
}
.nav-center ul.nav {
  display: inline-block;
}
.nav-center ul.nav li {
  display: inline a;
  display-float: left;
}


/* change color of nav-pills */
.nav-pills a {
	color: tomato;
}

.ul>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

img {
	max-width: 640px;
	max-height: 400px;
}

.carousel {
  	width:640px;
  	height:405px;
}

.carousel {
  	margin: auto;
	border: ridge;
	border-color: tomato;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: auto;
}